.App {
  border: 1px solid lightblue;
  width: 300px;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
  color: blue;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
}

.TodoList {
  padding: 5px; 
  margin: 10px;
  border: 1px solid lightsalmon;
  border-radius: 5px;
}

.TodoItem {
  color: goldenrod;
  padding: 5px; 
  margin: 10px;
  border: 1px solid lightsalmon;
  border-radius: 5px;
}

.TodoItem.Done{
  text-decoration: line-through;
  
}

.NewTodoItem {
  padding: 5px; 
  width: 240px;
  margin: 10px 10px 10px 25px;
  border: 1px solid lightsalmon;
  background-color: lightgoldenrodyellow;
  border-radius: 5px;
}

.TodoHeader {
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: goldenrod;
  text-align: center;
}

.TodoItem.ActionsBar {
  color: blue;
  padding: auto;
}

.button {
  text-align: center;
  border: 1px solid blueviolet;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  background-color: gold;
  font-family: sans-serif;
  font-size: 0.75em;
  
  
}

.buttonsContainer {
  margin: auto;
}

a {
  text-decoration: none;
}