.App {
  border: 1px solid lightblue;
  width: 300px;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
  color: blue;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
}

.TodoList {
  padding: 5px; 
  margin: 10px;
  border: 1px solid lightsalmon;
  border-radius: 5px;
}

.TodoItem {
  padding: 5px; 
  margin: 10px;
  border: 1px solid lightsalmon;
  border-radius: 5px;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
